/*
///////
 Element styling
 //////
*/

html {
    scroll-padding-top: 8rem;
}

body {
    background-color: #105CC6;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    ;
}

header {
    display: flex;
    justify-content: center;
    height: 8rem;
    position: fixed;
    width: 100%;
    background-color: #105CC6;
}

header div {
    display: flex;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
}

nav {
    width: 100%;
    padding-left: 10%;
    display: flex;
}

nav ul {
    margin: 0%;
    padding-bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: flex-end;

}

nav li {
    display: inline;
}

nav a {
    font-size: 1.5rem;
    color: #e8a92a;
    font-weight: bold;
}

nav a:hover {
    color: #000000;
}

a {
    text-decoration: none;
}

p {
    font-family: "Open+sans", sans-serif;
}

h1 {
    color: #e82a9f;
    text-align: center;
    margin: 0%;
    font-size: 2rem;
    font-weight: 800;
}

h2 {
    color: #e82a9f;
    padding-bottom: 1rem;
    font-weight: 800;
}

footer {
    padding: 1rem 0;
    display: flex;
    justify-content: center;
    background-color: white;
    font-weight: bold;
    width: 100%;
    text-align: center;
}

label {
    height: 48px;
    display: none;
}


/* 
//////
Class styling
//////
*/

.mainWidth {
    width: 80%;
}

.headerLogo {
    height: 7rem;
    width: auto;
    display: block;
}


.selectedPage {
    color: black;
    background-color: #e8a92a;
    padding: 1rem;
}

.textWidth {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.fa {
    display: none;
}

/* 
//////
ID styling
//////
 */

#hamburger {
    display: none;
}

/* 
////////
Home page 
////////
*/

a p {
    font-family: "Montserrat", sans-serif;
    color: #FFFFFF;
    font-weight: 800;
    text-align: center;
    font-size: 1.5rem;
}

.imageHome {
    height: auto;
    width: 100%;
    display: block;
}

.welcomeSection {
    background-color: #FFFFFF;
    padding: 5%;
}

.exhibitionSection {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 4rem;
    justify-content: space-between;
    padding: 5% 0% 4% 0%;
}

.exImage {
    height: auto;
    width: 100%;
    display: block;
}

.cta {
    font-weight: 800;
    font-size: 2rem;
    background-color: #1ae807;
    color: black;
    padding: 1%;
    width: 8rem;
    text-align: center;
}

.cta:hover {
    background-color: #e82a9f;
}

.textCta {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    padding-top: 2rem;
    align-items: center;
}

#cta2 {
    width: 12rem;
}


/*-----Exhibition, events and about us pages-----*/

.exhibtionArea {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 3% 0%;
    background-color: #FFFFFF;
}

.exhibtionText {
    align-self: center;
}


/*------Visit us--------*/
.visitPage {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 300px 300px;
    column-gap: 2rem;
    row-gap: 2rem;
    justify-content: space-between;
    padding: 5% 0% 4% 0%;
}

.visitInfo {
    background-color: #FFFFFF;
}

.visitText {
    max-width: 80%;
    margin: 0% auto;
}

.hoursList {
    display: flex;
}

.listStyle {
    list-style: none;
    padding-left: 0%;
    padding-right: 10%;
    margin: 0%;
}

.noListPadding {
    padding: 0%;
}



/* Media queries */

@media only screen and (max-width: 1280px) {
    h2 {
        padding: 0;
    }

    .mainWidth {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {

    /* Hamburger menu */

    nav {
        display: none;
        padding-left: 0%;
    }

    nav a {
        display: block;
        width: 100%;
        text-align: center;
    }

    header {
        height: auto;
    }

    nav li {
        display: block;
        padding: 1% 0%;
        width: 100%;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        padding: 2% 0% 0% 0%;
    }

    header div {
        justify-content: space-between;
    }

    label {
        display: block;
        align-self: center;
        padding-right: 1rem;
    }


    .selectedPage {
        padding: 0.5rem;
    }

    .fa {
        display: block;
        font-size: 3rem;
        color: #e8a92a;
    }

    .mainWidth {
        flex-wrap: wrap;
    }

    #hamburger:checked~nav {
        display: block;
    }

    #hamburger:checked~main {
        margin-top: 25rem;
    }

    /* Exhibtion, Events and About us page*/

    .exhibtionArea {
        grid-template-columns: 0.7fr 1.3fr;
    }

    /* Home page */

    .exhibitionSection {
        grid-template-columns: 1fr;
        row-gap: 2rem;
    }
}

@media only screen and (max-width: 920px) {
    .exhibtionArea {
        grid-template-columns: 1fr;
    }

    .textWidth {
        margin-left: 5%;
        margin-right: 5%;
    }

    .exhibtionText {
        justify-self: center;
    }

    .exhibtionText h2 {
        text-align: center;
    }
}